@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700')
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css)

// Config
$cc-blue: #1a2946
$cc-blue-invert: #fff
$cc-orange: #f05a1a


$primary: $cc-blue
$primary-invert: $cc-blue-invert
$link: $cc-orange

$family-sans-serif: "Ubuntu", 'Noto Sans Japanese', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

// Helper Classes
body
  transition: all cubic-bezier(0.0, 0.0, 0.2, 1) .2s

.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

//CustomCSS
.navbar-item
  img
    max-height: 2rem

//Navmenu
.navMenu
  background: #efefef
  height: 100%
  position: fixed
  right: 0
  top: 0
  transform: translateX(200px)
  width: 200px
  z-index: 9999
  transition: all cubic-bezier(0.0, 0.0, 0.2, 1) .2s
  padding-top: 52px
  &.active
    transform: translateX(0)
    transition: all cubic-bezier(0.0, 0.0, 0.2, 1) .2s

.navMenuList
  margin: 0
  padding: 0
  li
    padding: .5rem 0

//Navbutton
.Navbutton
  //mix-blend-mode: difference
  display: flex
  align-items: center
  justify-content: center
  height: 48px
  width: 48px
  position: fixed
  top: 2px
  right: 16px
  z-index: 10000
  button
    background: none
    border: none
    outline: none

//Scroll Down Button
.scrolldownButton
  display: flex
  align-items: center
  padding: 1rem
  vertical-align: middle

//Hero Custom Styling
.hero-body
  background: url("/img/bg2blur2.jpg") no-repeat center fixed
  background-position-x: 0
  background-position-y: -200px
  background-size: cover

.hero-container
  display: flex

.hero-left
  display: flex
  flex-direction: column
  justify-content: center

.hero-right
  display: flex
  align-items: flex-end
  div
    margin-left: 1rem

.flex-column
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  height: 100%


//Gray Section background
.section.is-light
  background-color: $light

.section.is-primary
  background-color: $primary

//Same with container
.container.is-primary
  background-color: $primary

//Section "More" Button
.more-button
  position: absolute
  top: 0
  right: 0

//Services
.service-column
  .box
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

//SNS Icons
.sns-icons
  color: $white
  display: flex
  justify-content: center
  flex-wrap: wrap
  > svg
    margin: 2rem

//Footer
.footer
  color: $white
  &.is-primary
    background-color: $primary
  a
    margin-bottom: 1rem